
{% extends 'paginas/00-modelo-principal.html' %}
{% load static %}

{% block conteudo %}
<br> </br>

<br>
<h3><strong>Academia Waap Funcional</strong></h3>
</br>
<p class="lead"> 
        Responsavel: Roberto da Silva Junior
        <br>Contato: (11) 934069-5599 / (11) 97280-1198</br>
        <br>Endereço: Rua São Paulo, n°19 - Residencial Sol Nascente - São Paulo/SP</br>       
</p>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
{% endblock %}




  