{% extends 'paginas/00-modelo-principal.html' %}
{%load static %}

{% block conteudo %}
<h3>Lista de Funcionários Registrados</h3>

<a href="{% url 'cadastrar-funcionario' %}" class="btn btn-primary btn-sm">Adicionar Funcionário</a>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>matricula</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data Nascimento</th>
            <th>Sexo</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>CEP</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th>Data Admissão</th>
            <th>Data Demissão</th>          
            <th>Opeções</th>
        </tr>
        {% for funcionario in object_list%}
        <tr>
            <td>{{ funcionario.matricula}}</td>
            <td>{{ funcionario.cpf}}</td>
            <td>{{ funcionario.nome}}</td>
            <td>{{ funcionario.email}}</td>
            <td>{{ funcionario.dtnascimento}}</td>
            <td>{{ funcionario.sexo}}</td>
            <td>{{ funcionario.endereco}}</td>
            <td>{{ funcionario.numero}}</td>
            <td>{{ funcionario.complemento}}</td>
            <td>{{ funcionario.bairro}}</td>
            <td>{{ funcionario.cep}}</td>
            <td>{{ funcionario.telefone}}</td>
            <td>{{ funcionario.celular}}</td>
            <td>{{ funcionario.dtadmissao}}</td>
            <td>{{ funcionario.dtdemissao}}</td>
            <td>
                <a href="{% url 'editar-funcionario' funcionario.pk %}" class="btn btn-warning btn-sm" title="Editar"><img src="{% static "img/alterar.png" %}" width="11" height="15"></a>
                <a href="{% url 'excluir-funcionario' funcionario.pk %}" class="btn btn-danger btn-sm" title="Excluir"><img src="{% static "img/excluir.png" %}" width="11" height="15"></a>    
            </td>
        </tr>
        {% empty %}        
        <tr>
            <td colspan="15">Nenhum campo registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}